


        /*nav bar title and nav bar*/
.title
{
  text-align: center;
  background:linear-gradient(to bottom right, blue 20% , rgb(12, 12, 12));
  font-size: 4vw;
  height:70px;
  color:lightblue;
  letter-spacing: 5px;
  z-index: 200;
  position: relative;
}



        .flip-container {
            width:clamp(5vw,100px,12vw);
            height:clamp(3em,20vh,6em);
            position: relative;
            cursor: pointer; /* Indicates it's clickable */
            /* border: 1px solid red; */
        }

        /* We'll use a class added by JavaScript for the flip, not :hover */
        .flip-container.flipped .flipper {
            transform: rotateY(180deg);
        }

        .flipper {
            width: 100%;
            height: 100%;
            transition: transform 0.6s; /* Smooth transition for the flip */
            transform-style: preserve-3d; /* Crucial for 3D transform */
            position: relative;
        }

        .front, .back {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden; /* Hides the back of the element when facing away */
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            font-size: 24px;
            font-weight: bold;
            color: white;
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
        }

        .front {
            background-color: #3498db; /* Blue */
            z-index: 2; /* Ensures the front is above the back initially */
        }

        .back {
            background-color: #2ecc71; /* Green */
            transform: rotateY(180deg); /* Starts rotated to be the "back" */
        }











*
{
  margin: 0;
  padding: 0;
}

.container
{
 width:80%;
  height: 400px;
  border: 2px solid rgb(3, 3, 3);
  background-color: rgba(10, 1, 1, 0.856);
  box-shadow: 3px 3px 10px 1px black;
  /* display: flex; */
  flex-wrap: wrap;
   display:none;
   justify-content: center;
   align-items: center;
   gap:1px;
   margin: auto;
     /* border:1px solid green; */

}

#gameStartconatiner
{
  width:100%;
  height: 87vh;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
   /* border: 1px solid red; */
  /* flex-direction:column; */
  position: relative;
  background-color: rgb(0, 0, 0);
}

#gameStartconatiner #flipgame_startbutton
{
   width: 200px;
   height: 200px;
  background:linear-gradient(45deg, rgb(32, 20, 63) 2% , rgb(35, 89, 170) 70%);
  color: white;
  font-size: 2vw;
  box-shadow: 10px 10px 10px 2px rgb(32, 20, 63) , -1px -1px 10px 2px rgb(35, 89, 170)  ;
  letter-spacing: 2px;
  border-style: none;
    border-radius: 5px;
      font-family: "Poppins", serif;

}

/*nav bar title and nav bar*/
.title
{
  text-align: center;
  background:linear-gradient(to bottom right, blue 20% , rgb(12, 12, 12));
  font-size: 4vw;
  height:70px;
  color:lightblue;
  letter-spacing: 5px;
  z-index: 200;
  position: relative;
}

#gametimer
{
  font-size: 30px;
  margin: 0;
  padding: 0;
  visibility: hidden;
  color: white;
}

#gameStart
{
  width: 200px;
  height: 200px;
  background:linear-gradient(45deg, rgb(236, 0, 0) 2% , rgb(192, 79, 79) 80%);
  border-style:none;
  /* outline:none; */
  font-family: "Poppins", serif;
  border-radius: 5px;
  font-size: 2vw;
  position: relative;
  z-index: 1;
    letter-spacing: 2px;
    box-shadow: 10px 10px 14px 1px rgb(66, 17, 15) , -1px -1px 10px 2px rgb(219, 133, 128)  ;

}

/* #gameStart::after
{
  content: "hello";
  width: 100%;
  height:100%;
  background:red;
  border-style:none;
  outline:none;
  font-family: "Poppins", serif;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top:0px;
  left: 0px;
  z-index: 2;
  
} */

#gameStart:hover::after
{
  background: green;
}

#gamelevel
{
  font-size: clamp(1rem,6vw,13rem);
  padding-top:20px;
  text-align: center;
  color:red;
  display: none;
    /* border:1px solid green; */

}

#gameview
{
  display: none;
  position: absolute;
  width: 80%;
      /* border: 1px solid rgb(0, 45, 128); */

}

#gameOverPopup
{
  width:100%;
  height:100vh;
  /* border:1px solid green; */
  position: absolute;
  background:linear-gradient(to bottom, rgb(225,0,0),black);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  top:50%;
  left:50%;
   transform: translate(-50%,-50%);
  margin-top: 10px;
  display: none;
  z-index: 100;
}

#gameOverPopup #gameoverTitle
{
  font-size: 60px;
  color: lime;
}

#replayButton
{
  width: 180px;
  height: 50px;
  background-color: #0bcf07;
  border-style:none;
  outline:none;
  font-size:20px;
  color: white;
  font-weight: bold;
  
}


#homeButton
{
  width: 180px;
  height: 50px;
  background-color: #0918f1;
  border-style:none;
  outline:none;
  font-size:20px;
  color: white;
  font-weight: bold;
 
}


/*js css*/

.tiles-style
{
  /* position: absolute; */
  border:1px solid rgb(180, 179, 179);
  background-color:lightBlue;
  width:70px;
  height:10vh;
  text-align:center;
  padding-top:10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 2px rgb(12, 12, 12) , -1px -1px 3px 2px rgb(185, 184, 184)  ;
  flex-basis:1 auto ;
  /* transform: matrix3d(0.6,0.1,0.7,0,-0.5,0.8,0.1,0,-0.6,-0.5,0.5,0,0,0,0,1); */
}


@media only screen and (max-width:1020px) {

  .title
  {
    font-size: 6vw;
  }
  
}

@media only screen and (max-width:700px) {

  .title
  {
    font-size: 8vw;
  }
  
}

/*style for small screen */

@media screen and (max-width:500px) {

  .title
  {
    font-size: 12vw;
  }

  #gameStartconatiner
  {
    width:100%;
    height: 87vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(111, 0, 255);
    /* flex-direction:column; */
    position: relative;
    background-color: rgb(0, 0, 0);
  }

  .container
{
 width: 100%;
  height:43vh;
  border: 2px solid rgb(3, 3, 3);
  background-color: rgba(10, 1, 1, 0.856);
  box-shadow: 3px 3px 10px 1px black;
  /* display: flex; */
  flex-wrap: wrap;
   display:none;
   justify-content: center;
   align-items: center;
   gap:1px;
   margin-top: 15px;
     /* border:1px solid green; */

}

  .flip-container {
            width:clamp(5vw,100px,12vw);
            height:clamp(3em,20vh,3em);
            position: relative;
            cursor: pointer; /* Indicates it's clickable */
            /* border: 1px solid red; */
        }


  #gameview
  {
      width:90%;
      height: 80vh;
      /* border: 1px solid rgb(0, 45, 128); */
  }


  #gameOverPopup
  {
    width:100%;
    height:100%;
    /* border:1px solid green; */
    position: absolute;
    background:linear-gradient(to bottom, rgb(225,0,0),black);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top: 10px;
    display: none;
    z-index: 100;
  }

  .tiles-style
{
  /* position: absolute; */
  border:1px solid rgb(180, 179, 179);
  background-color:lightBlue;
  width:20%;
  height:4vh;
  text-align:center;
  padding-top:10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 2px rgb(12, 12, 12) , -1px -1px 3px 2px rgb(185, 184, 184)  ;
  /* flex-basis:1 auto ; */
  /* transform: matrix3d(0.6,0.1,0.7,0,-0.5,0.8,0.1,0,-0.6,-0.5,0.5,0,0,0,0,1); */
}
  
}






















/* .tiles-style:hover
{
    transform: matrix3d(0.6,0.1,0.7,0,-0.5,0.8,0.1,0,-0.6,-0.5,0.5,0,0,0,0,1);
} */






/*retry heart stying*/

#retryHearts
{
  width:200px;
  height: 70px;
  border: 1px solid blue;
  color:white;
}

#retryHearts div
{
  width:50px;
  height: 50px;
  border: 1px solid green;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
